Repository ponylang/ponylang-website, pull requests merged in 2022-07, with the labels that each got.

#777 LWIP 070322
  .spelling-wordlist.txt
  content/blog/last-week-in-pony-070322.md
Labels: discuss during sync

#779 First LWIP - Closes #778
  content/blog/last-week-in-pony-071722.md
  data/author/red.json
Labels: last-week-in-pony, discuss during sync

#781 LWIP-20220724
  content/blog/last-week-in-pony-072422.md
Labels: last-week-in-pony
